﻿@model FitFeastExplore.Models.WorkOutDto

<!DOCTYPE html>
<html>
<head>
    <title>Delete WorkOut</title>
</head>
<body>
    <h2>Delete WorkOut</h2>
    <div class="card mb-3">
        <h3>Are you sure you want to delete this workout plan?</h3>
        <div>
            <div>
                <p>Name: @Model.Name</p>
            </div>

            <form action="/WorkOut/Delete/@Model.WorkOutId" method="post">
                <input type="hidden" name="id" value="@Model.WorkOutId" />
                <button class="btn btn-primary btn-md" type="submit" value="Delete">Delete &raquo;</button>
            </form>
        </div>
    </div>
    <a href="/WorkOut/List">Back to List</a>
</body>
</html>

<style>
    * {
        text-align: center;
    }

    .card {
        padding: 20px;
    }
</style>