﻿@{
    ViewBag.Title = "Fit";
}

<main aria-labelledby="title">
    <section class="row">
        <h1 id="tourManagementTitle">Fitness Management System</h1>
        <p class="lead">Stay fit and healty by managing your workouts and diet.</p>
    </section>

    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Create Workout</h2>
                    <p class="card-text">Create your personalized workouts.</p>
                    <a href="/WorkOut/Create" class="btn btn-primary btn-md">Create &raquo;</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">View Workout Plans</h2>
                    <p class="card-text">Manage your workout plans.</p>
                    <a href="/WorkOut/List" class="btn btn-primary btn-md">View Plans &raquo;</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">View Diet Recipes</h2>
                    <p class="card-text">View and manage your diet.</p>
                    <a href="/Booking/List" class="btn btn-primary btn-md">View Diet Recipes &raquo;</a>
                </div>
            </div>
        </div>
    </div>
</main>
