@model IEnumerable<FitFeastExplore.Models.ExerciseDto>
@{
    ViewBag.Title = "Exercise List";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2 class="text-center mb-4">Exercise List</h2>
            <form method="get" action="/Exercise/List">
                <div class="input-group mb-3">
                    <input type="text" name="searchString" class="form-control" value="@ViewBag.search" placeholder="Search by exercise name..." />
                    <button class="btn btn-primary" type="submit">Search</button>
                </div>
            </form>
            <div class="mb-3">
                <a href="@Url.Action("Create", "Exercise")" class="btn btn-success">Create New Exercise</a>
            </div>
            @foreach (var item in Model)
            {
                <div class="card mb-3">
                    <div class="card-body">
                        <h3 class="card-title"><a href="@Url.Action("Show", "Exercise", new { id = item.ExerciseId })">@item.ExerciseName</a></h3>
                    </div>
                </div>
            }
        </div>
    </div>
</div>